* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #d8d8d8;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

body {
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
margin: 0;
padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*
body::-webkit-scrollbar-track {
  background: ;
}
*/
body::-webkit-scrollbar-thumb {
  background: #49fee3;
}

p {
  font-size: 1.5rem;
}

main {
  background-color: #f2f2f2;
  margin-bottom: 700px;
  padding: 0px;
 position: relative;
}

h1{
  font-size: 3rem;
  /*font-family: 'Bebas Neue', cursive;*/
 font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
  /*font-family: 'Bebas Neue', cursive;*/
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
}

#contact > div > h1,
#profile > div > h1{
  margin-bottom: 40px;
  position: relative;
}

#contact > div > h1::after,
#profile > div > h1::after {
  background-color: #49fee3;
  content: '';
  display: block;
  height: 3px;
width: 100%;
}

#profile > div > h1::after {
  max-width: 110px;
}

#contact > div > h1::after {
  max-width: 150px;
}

#header {
  background-color: #f2f2f2;
  padding: 40px 0px 40px 0px;
  color: black;
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  font-family: 'Lato', sans-serif;
 width: 100%;
  transition: 0.6s;
  z-index: 4;
 border-bottom: 2px solid #ebebeb;
}

#header.mystyle {
  padding: 25px 0px 25px 0px;
  font-size: 0.8em;
}

#wrapper {
  width: 100%;
 padding: 60px;
    margin: 0;
}

.navbar {
  padding: .5rem 0rem;
}

.nav--top > ul {
padding-left: 60px;
  margin-bottom: 0px;
  list-style: none;
  text-align: right;
}

.nav--top > ul > li {
  line-height: normal;
  padding: 0;
  display: inline-block;
  margin: 0 0 0 3.5rem;
  z-index: 4;
}

#menu > li:nth-child(1) {
  margin-left: 0;
}

#menu > li > a.logo > img{
  width: 180px;
  height: auto;
}

.nav--top > ul > li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #787777;
}

.nav--top > ul > li a:not(.logo)  {
  border-bottom: 3px solid #d8d8d8;
}


.nav--top > ul > li a:not(.logo)::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -2.5px;
  background: #49fee3;
  height: 3px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.nav--top > ul > li a:hover:before,
.nav--top > ul > li a:focus:before,
.nav--top > ul > li a:active:before,
.nav--top > ul > li a.active:before {
  right: 0
}

.nav--top > ul > li a:hover,
.nav--top > ul > li a:focus,
.nav--top > ul > li a:active,
.nav--top > ul > li a.active
{
  color: #000;
}

.content {
  margin-top: 100px;
}

.padding_top {
  padding-top: 200px;
}

/*welcome message*/

#wrapper > div {
  margin-top: 120px;
}

#home > div.welcome_message > h1
 {
  font-size: 6rem;
  font-weight: 500;
}

#home > div.welcome_message > h3 {
  font-size: 3rem;
}

span.ceyenne {
  color: #49fee3;
}

#profile {
 padding-top: 140px;
 margin-top: 20px;
 width: 100%;
}

#profile > div {
  background-color: #d8d8d8;
  padding: 50px 20px 100px 20px;
  box-shadow: 0 0 2px rgba(0,0,0,.15);
  border-radius: 2px;
}

#profile > div > div.image_wrapper{
  text-align: center;
  display: inline-block;
  width: 45%;
}


#profile > div > div.text_wrapper{
display: inline-block;
width: 55%;
float: left;
}

#profile > div > div.image_wrapper > img {
  width: 320px;
  height: 320px;
  border-radius: 190%;
  box-shadow: 4px 4px 4px 2px rgba(0,0,0,.15);
}

#contact {
  margin-bottom: 120px;
padding-top: 140px;
margin-top: 20px;
}

#contact > div {
  padding: 50px 20px 100px 20px;
box-shadow: 0 0 2px rgba(0,0,0,.15);
border-radius: 2px;
width: 100%;
background-color: #ebebeb;
}

#contact > div > ul {
  padding-left: 0px;
}

#contact > div > ul > li {
  list-style-type: none;
  padding: 10px 0px;
}

#contact > div > ul > li > a.contact_link  {
  color: #787777;
  padding-bottom: 5px;
  transition: all 0.2s linear;
  display: inline-block;
  z-index: 0;
  padding: 0px 20px;
}

.contact_link:hover {
  color: #000 !important;
}

.contact_link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  color: #000;
  background: #49fee3;
  transition: width .3s;
}

.contact_link:hover::after {
  color: #000;
  width: 100%;
  transition: width .3s;
}


footer {
  width: 100%;
  height: 100vh;
  background-color: #001916;
  bottom: 0px;
  position:sticky;
      left:0;
      z-index:-1;
}


 footer > div {
color: #fff;
display: block;
  padding-top: 30vh;
    position: relative;
}

footer > div.logo_holder,
 div.logo_holder {
  display: block;
  padding-bottom: 45vh;
  text-align: center;
  width: 100%;
}

 body > footer > div > div.logo_holder > img {
   width: 180px;
   height: auto;
 }

body > footer > div > p,
body > footer > div > div,
 body > footer > div > a{
 display: inline-block;
    width: 33.3333333%;
    font-size: 1.2rem;
    padding-bottom: 30px;
}

body > footer > div > div.impressum_holder {
  text-align: right;
  padding-right: 60px;
}

.linkedin_holder {
  text-align: left;
  padding-left: 60px;
}

body > footer > div > p.copy {
    text-align: center;
}

.impressum {
text-align: right;
padding-right: 60px;
}

.hover_link
{
  color: #49fee3;
  transition: all 0.2s linear;
  display: inline-block;
  z-index: 0;
  letter-spacing: 0.05rem;
  padding: 0px 10px;
}


body > footer > div > div > a:hover
 {
  color: #49fee3 !important;
}

.hover_link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  color: #49fee3 ;
  background: /*#d8d8d8;*/#fff;
  transition: width .3s;
}

.hover_link:hover::after {
  color: #49fee3;
  width: 100%;
  transition: width .3s;
}

.carousel-inner {
text-align: center;
}


#demo > div > div.carousel-item > div > h3 {
  font-size: 10vw;
  font-weight: 500;
}

#demo > div > div > div > p {
  font-size: 4vw;
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}


#demo > ul > li.active {
  background-color: #49fee3;
}

.carousel-item {
height: 50vw;
margin-top: 90px;
}

.carousel-item > img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
}

.carousel-caption {
  margin-bottom: 10%;
}

#demo > ul.carousel-indicators {
  z-index: 3;
  bottom: 10px;
}

.profile_button {
	text-align: center;
width: 55%;
display: inline-block;
margin-top: 2rem;
}

.button {
	outline: 0;
	font-weight: 500;
	position: relative;
	border: 0;
	background: transparent;
	width: 250px;
	height: 60px;
	padding: 0;
  margin: auto;
}

.button a {
	position: relative;
	display: block;
	text-decoration: none;
	color: #000;
  letter-spacing: 0.05rem;
	width: 100%;
	height: 100%;
	line-height: 60px;
  font-size: 1.4rem;
}

.button:before,
.button:after {
	position: absolute;
	content: "";
	right: 0;
	top: 0px;
	background: #49fee3;
  color: #000 !important;
  text-decoration: none;
	transition: all 0.3s ease;
}

.button:before {
	height: 0px;
	width: 80%;
}

.button:after {
	width: 100%;
	height: 4px;
}

.button:hover:before {
	height: 0%;
  width: 80%;
  margin-top: 60px;
left: 24px;

}

.button:hover:after {
	width: 80%;
  margin-top: 60px;
left: 24px;
}

.button a:before,
.button a:after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	background: #49fee3;
    color: #000 !important;
	transition: all 0.3s ease;
}

.button a:before {
	width: 250px;
	height: 4px;
}

.button a:after {
	width: 50%;
	height: 4px;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.button a:hover:before {
	height: 4px;
 width: 50%;
  top: 70px;
  left: 70px;
}


.button a:hover:after {
	width: 50%;
    left: 50px;
  top: 70px;
}

/*toggle switcher */

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 55px;
}


#toggle_switch {
  position: fixed;
  top: 46px;
  right: 120px;
  z-index: 4;
  transition:  0.6s;
font-size: 0.8em;
}

#toggle_switch.test {
font-size: 1em;
  top: 31px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

#toggle_switch > label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 2px solid #49fee3;
  border-radius: 32px;
}




#toggle_switch > label > a > span{
  padding-left: 30px;
  letter-spacing: 0.05rem;
  color: #787777;
}

#toggle_switch > label > a.select-de > span {
  position: absolute;
    top: -5px;
    left: 0;
}

#toggle_switch > label > a.select-de.active > span
{
  position: absolute;
 bottom: -5px;
  left: 0px;
}

 #toggle_switch > label > a.select-en > span {
  position: absolute;
 top: -5px;
  left: 0px;
}

#toggle_switch > label > a.select-de {
 position: absolute;
  content: "";
  top: 2px;
  left: 1px;
  bottom: 0px;
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*stoptrysmoothscrollpagetransition*/





#toggle_switch > label > a.select-de.active{
  position: absolute;
  content: "";
  color: #49fee3;
  height: 20px;
  width: 20px;
 border-radius: 50%;
  top: 2px;
  left: 0.8px;
  bottom: 0px;
  background-color: #000;
}

#toggle_switch > label > a.select-de.active > span{
  color: #000;
}


#toggle_switch > label > a.select-en.active > span{
  color: #000;
}



#toggle_switch > label > a.select-en {
  position: absolute;
    content: "";
    bottom: 2px;
  top: 30px;
  left: 1px;
}

#toggle_switch > label > a.select-en.active
 {
  position: absolute;
color: #000;
  content: "";
  height: 20px;
  width: 20px;
  top: 30px;
  left: 0.8px;
  bottom: 0px;
  background-color: #000;
  border-radius: 50%;
}

input:checked + a.select-en {
  background-color: transparent;
}

input:focus + .slider {
  box-shadow: 0 0 1px #49fee3;
}

input:checked + .slider > a.en {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

input:checked + .slider > a.en:before  {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

/* Rounded sliders */
.slider.round > a{
  border-radius: 50%;
}

#slider.round > a:before {
  border-radius: 50%;
}


/*end toggle switcher*/



/*media queries*/


@media screen and (max-width: 900px) {

body {
  font-size: 1.4rem;
}

#header {
  padding: 35px 0px 40px 0px;
  font-size: 1.5rem;
}
#header.mystyle {
  padding: 25px 0px 25px 0px;
}
#wrapper {
  padding: 40px;
}

.nav--top > ul > li a:before {
  bottom: -3px;
}


.nav--top > ul {
  float: right;
  padding-left: 40px;

}

.nav--top > ul > li {
  margin: 0 0 0 3rem;
}

#wrapper > div.welcome_message {
  width: 80%;
}

#home > div.welcome_message {
  width: 90%;
}

#profile > div > div.image_wrapper > img{
  width: 300px;
  height: 300px;
}

.linkedin_holder {
  padding-left: 40px;
}

.impressum {
  padding-right: 40px;
}

#toggle_switch {
  top: 42px;
  right: 100px;
}

div.logo_holder {
  padding-bottom: 50vh;
}


}





@media only screen and (max-width: 767px) {

  /*burger menu*/
  .navbar a:not(.logo)
   {display: none;}

   .navbar a.icon {
     margin-top: 10px;
     padding: 0px;
     float: right;
     display: block;
     position: absolute !important;
     right: 0;
     top: 0;
   }


.navbar.responsive {
  padding-bottom: 100px;
  padding-top: 40px;
}

.navbar.responsive > #toggle_switch.test,
 .navbar.responsive > #toggle_switch {
  display: block;
  top: 330px;
}

    .navbar.responsive .icon {
      position: absolute !important;
      right: 0;
      top: 0;
    }

    .navbar.responsive a {
      float: none;
      display: block;
      text-align: center;
    }

 .navbar.responsive > nav  {
  margin-right: auto;
  margin-left: auto;
}



.nav--top > ul {
  padding-right: 0px;
}

 .navbar.responsive > .nav--top > ul > li {
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}


#menu > li:nth-child(1) {
  top: 0px;
    left: 40px;
    margin: 0;
    margin-left: 0;
    position: absolute;
}

.navbar.responsive > nav--top > a {
  float: none;
    text-align: left;
}

.navbar a.icon {
  margin-right: 40px;
}

    .hamburger-icon-container {
      padding: 0px;
      height: 1.7em;
      width: 1.7em;
      position: relative;
      cursor: pointer;
    }

    .hamburger-icon,
    .hamburger-icon:before,
    .hamburger-icon:after {
      content: '';
      position: absolute;
      height: 3px;
      padding: 0px;
      background: #49fee3;
      width: 1.7em;
      transition: all .2s ease;
    }

    .hamburger-icon {
      top: 0.75em;
      right: 0em;
    }

    .hamburger-icon:before {
      top: -0.55em;
      right: 0em;
    }

    .hamburger-icon:after {
      top: 0.55em;
      right: 0em;
      }

    .hamburger-active .hamburger-icon {
      background: transparent;
      transform: rotate(-135deg)
    }

    .hamburger-active .hamburger-icon:before,
    .hamburger-active .hamburger-icon:after {
      top: 0
    }

    .hamburger-active .hamburger-icon:before {
      transform: rotate(90deg)
    }
    .intro_text {
    padding-left: 20px;
        padding-right: 20px;
    }

/*end new burger menu*/

.nav--top > ul {
  float: left;
  text-align:left;
  padding-right: 0px;
  padding-left: 0px;
}


#header {
  font-size: 1.3rem;
padding: 20px 0px 25px 0px;
}


#header.mystyle {
  font-size: 1.2rem;
}


  #demo > div > div.carousel-item > div > h3 {
    font-size: 10vw;
  }

  #demo > div > div.carousel-item > div > p {
    font-size: 5vw ;
  }


  .carousel-caption {
    padding-bottom: 0px;
    left: 1%;
    right: 1%;
  /*  bottom: 60px; */
  }



#profile > div > h1,
#contact > div > h1 {
text-align: center;
margin-bottom: 80px;
}

#profile > div > h1::after,
#contact > div > h1::after  {
  margin: auto;
  }

#profile > div > div.image_wrapper {
  width: 100%;
  margin-top: 0px;
}

#profile > div > div.text_wrapper {
  width: 100%;
  margin-top: 60px;
}

#profile > div > div.profile_button {
  width: 100%;
}

#toggle_switch {
  top: 300px;
  right: 100px;
  display: none;
}

#contact > div > h1::after, #profile > div > h1::after {
  max-width: 140px;
}


div.logo_holder {
  padding-bottom: 45vh;
}


}

@media only screen and (max-width: 500px) {

h1 {
  font-size: 3rem;
}
#header {
  font-size: 1.1rem;
  padding: 15px 0px 25px 0px;
}

#header.mystyle {
  font-size: 1rem;
  padding: 15px 0px 25px 0px;
}

.navbar.responsive > #toggle_switch.test,
 .navbar.responsive > #toggle_switch {
   top: 310px;
 }

.navbar.responsive a:not(.icon),
.navbar.responsive > nav > ul > li
 {
  width: 80px;
}

#menu > li:nth-child(1) {
  left: 15px;
}

.nav--top > ul {
padding: 0px;
  margin: 0;
}

.navbar a.icon {
  margin-right: 15px;
}

#demo {
  display: none;
}

.nav--top > ul > li a:before {
  bottom: -2.5px;
}

#home > div.welcome_message {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
}

#home > div.welcome_message > h1 {
  font-size: 4rem;
}

#home > div.welcome_message > h3 {
  font-size: 2rem;
}

#demo > div > div.carousel-item > div > h3 {
  font-size: 11vw ;
}

#demo > div > div.carousel-item > div > p {
  font-size: 6vw ;
}

.carousel-item {
  margin-top: 90px;
}

.carousel-caption {
  bottom: 120px;
}

/*toggle switch*/
.switch {
    width: 20px;
    height: 45px;
}

#toggle_switch > label > a > span {
  padding-left: 20px;
}

#toggle_switch > label > a.select-en.active {
  height: 14px;
  width: 14px;
}

#toggle_switch {
  font-size: 1.1rem;
  right: 65px;
}

#toggle_switch.test {
  font-size: 0.9rem;
}

#toggle_switch > label > a.select-en.active {
  top: 25px;
}

#toggle_switch > label > a.select-de.active {
  height: 14px;
    width: 14px;
}

#wrapper > div.welcome_message {
  width: 90%;
}

#profile > div > div.image_wrapper > img {
  width: 210px;
  height: 210px;
}

#profile > div > div.profile_button > .button,
.button a:before {
  width: 240px;
}

#contact > div > ul > li > a.contact_link {
  padding-left: 0px;
}
#contact > div > ul > li > span {
  padding-right: 20px;
}

.button a {
  font-size: 1.3rem;
}

p {
  font-size: 1.2rem;
}

main {
  width: 100vw;
}

#wrapper {
  padding: 15px;
}

footer {
  padding-bottom: 30px;
}

div.logo_holder {
    padding-bottom: 15vh;
}


body > footer > div > p.linkedin {
  text-align: center;
  padding: 20px;
}

body > footer > div > p.impressum {
  text-align: center;
  padding: 20px;
}

body > footer > div > div.linkedin_holder,
body > footer > div > p,
.impressum {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

body > footer > div > div.impressum_holder {
  padding-bottom: 40px;
  width: 100%;
  display: block;
  text-align: center;
    margin: 0px;
}

}
